
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
  background-image: url('../images/background.png');
}


select {
  width: 200px;
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  line-height: 1.25;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
}


input {
  width: 200px;
  height: 30px;
}

button {
  width: 100px;
  background-color: #ffffff;
  color: black;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #da6a1b;
}

a {
  color: #1b89bc;
  text-decoration: none;
}

a:hover {
  color: #065b83;
  text-decoration: underline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #cecece;
}

.btn.btn-squared {
  border-radius: 0;
}

.btn.btn-sm {
  font-size: 0.85rem;
  padding: 0.3rem 0.9rem;
}

.btn.btn-lg {
  font-size: 1.25rem;
  padding: 0.8rem 1.4rem;
}

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-primary:hover {
  background-color: #57779a;
}

.btn.btn-danger {
  background-color: #e64c66;
  color: #ffffff;
}

.btn.btn-danger:hover {
  background-color: #ee8294;
}

.btn.btn-info {
  background-color: #1bbc9b;
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #31e1bd;
}

.btn.btn-light {
  background-color: #d9e9e8;
  color: #1a1a1a;
}

.btn.btn-light:hover {
  background-color: #84b8b4;
}

.btn.btn-dark {
  background-color: #1a1a1a;
  color: #d9e9e8;
}

.btn.btn-dark:hover {
  background-color: #5f5f5f;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #1a1a1a;
}

.btn.btn-white:hover {
  background-color: #cccccc;
}

.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-black:hover {
  background-color: #666666;
}

.btn.btn-link {
  background-color: #1b89bc;
  color: #ffffff;
}

.btn.btn-link:hover {
  background-color: #31a9e1;
}

.card {
  border: 1px solid #1a1a1a;
  margin-bottom: 1rem;
}

.card .card-header {
  padding: 0.375rem;
  background-color: #2d3e50;
  color: #d9e9e8;
}

.card .card-body {
  padding: 0.375rem;
}

.card .card-footer {
  border-top: 1px solid #1a1a1a;
  padding: 0.375rem;
}

.card.card-rounded {
  border-radius: 0.3rem;
}

.card.card-rounded .card-header {
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

form .form-group {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
}

form .form-input,
form .form-textarea {
  display: block;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 200px;
  height: 30px;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

form .form-input.form-input-squared {
  border-radius: 0;
}

form [type='checkbox'],
form [type='radio'] {
  display: inline-block;
}

label form [type='checkbox'], label
form [type='radio'] {
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  flex-direction: column;
}

.container.container-fluid {
  width: 92%;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}

[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-auto {
  flex-grow: 1;
  flex-basis: 0;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-sm {
    justify-content: space-between;
  }
  .justify-space-around-sm {
    justify-content: space-around;
  }
  .justify-flex-start-sm {
    justify-content: flex-start;
  }
  .justify-flex-end-sm {
    justify-content: flex-end;
  }
  .justify-center-sm {
    justify-content: center;
  }
  .align-start-sm {
    align-items: flex-start;
  }
  .align-stretch-sm {
    align-items: stretch;
  }
  .align-end-sm {
    align-items: flex-end;
  }
  .align-center-sm {
    align-items: center;
  }
  .align-content-start-sm {
    align-content: flex-start;
  }
  .align-content-stretch-sm {
    align-content: stretch;
  }
  .align-content-end-sm {
    align-content: flex-end;
  }
  .align-content-center-sm {
    align-content: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-md {
    justify-content: space-between;
  }
  .justify-space-around-md {
    justify-content: space-around;
  }
  .justify-flex-start-md {
    justify-content: flex-start;
  }
  .justify-flex-end-md {
    justify-content: flex-end;
  }
  .justify-center-md {
    justify-content: center;
  }
  .align-start-md {
    align-items: flex-start;
  }
  .align-stretch-md {
    align-items: stretch;
  }
  .align-end-md {
    align-items: flex-end;
  }
  .align-center-md {
    align-items: center;
  }
  .align-content-start-md {
    align-content: flex-start;
  }
  .align-content-stretch-md {
    align-content: stretch;
  }
  .align-content-end-md {
    align-content: flex-end;
  }
  .align-content-center-md {
    align-content: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-lg {
    justify-content: space-between;
  }
  .justify-space-around-lg {
    justify-content: space-around;
  }
  .justify-flex-start-lg {
    justify-content: flex-start;
  }
  .justify-flex-end-lg {
    justify-content: flex-end;
  }
  .justify-center-lg {
    justify-content: center;
  }
  .align-start-lg {
    align-items: flex-start;
  }
  .align-stretch-lg {
    align-items: stretch;
  }
  .align-end-lg {
    align-items: flex-end;
  }
  .align-center-lg {
    align-items: center;
  }
  .align-content-start-lg {
    align-content: flex-start;
  }
  .align-content-stretch-lg {
    align-content: stretch;
  }
  .align-content-end-lg {
    align-content: flex-end;
  }
  .align-content-center-lg {
    align-content: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justify-space-between-xl {
    justify-content: space-between;
  }
  .justify-space-around-xl {
    justify-content: space-around;
  }
  .justify-flex-start-xl {
    justify-content: flex-start;
  }
  .justify-flex-end-xl {
    justify-content: flex-end;
  }
  .justify-center-xl {
    justify-content: center;
  }
  .align-start-xl {
    align-items: flex-start;
  }
  .align-stretch-xl {
    align-items: stretch;
  }
  .align-end-xl {
    align-items: flex-end;
  }
  .align-center-xl {
    align-items: center;
  }
  .align-content-start-xl {
    align-content: flex-start;
  }
  .align-content-stretch-xl {
    align-content: stretch;
  }
  .align-content-end-xl {
    align-content: flex-end;
  }
  .align-content-center-xl {
    align-content: center;
  }
}
